<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("header") %> <% if (currentUser) { %>
    <div class="button-container">
      <button><a href="/posts/new">Create Message</a></button>
      <% if (!currentUser.isMember) { %>
      <button><a href="/users/member">Become a Member!</a></button>
      <% } %>
    </div>
    <% } %>
    <div class="container">
      <% for (const post of posts) { %>
      <div class="card">
        <h1><%= post.title %></h1>
        <p><%= post.message %></p>
        <% if ((currentUser && currentUser.isMember)) { %>
        <p>- <%= post.user.fullName %></p>
        <% } else { %>
        <p>- HIDDEN</p>
        <% } %>
      </div>
      <% } %>
    </div>
  </body>
</html>
