<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("header") %> <% if (currentUser) { %>
    <div class="button-container">
      <button>Create Message</button>
      <% if (!currentUser.isMember) { %>
      <button><a href="/users/member">Become a Member!</a></button>
      <% } %>
    </div>
    <% } %>
    <div class="container">
      <div class="card">
        <h1>This is a test title.</h1>
        <p>
          This is a template message. It can be quite long. Maybe just this
          long.
        </p>
        <p>- first, last</p>
      </div>
      <div class="card">
        <h1>This is a test title.</h1>
        <p>
          This is a template message. It can be quite long. Maybe just this
          long.
        </p>
        <p>- first, last</p>
      </div>
      <div class="card">
        <h1>This is a test title.</h1>
        <p>
          This is a template message. It can be quite long. Maybe just this
          long.
        </p>
        <p>- first, last</p>
      </div>
      <div class="card">
        <h1>This is a test title.</h1>
        <p>
          This is a template message. It can be quite long. Maybe just this
          long.
        </p>
        <p>- first, last</p>
      </div>
      <div class="card">
        <h1>This is a test title.</h1>
        <p>
          This is a template message. It can be quite long. Maybe just this
          long. Maybe just this long. Maybe just this long. Maybe just this
          long. Maybe just this long. Yes, very long. Yes, very long. Yes, very
          long. Yes, very long. Yes, very long. Yes, very long.
        </p>
        <p>- first, last</p>
      </div>
      <div class="card">
        <h1>This is a test title.</h1>
        <p>
          This is a template message. It can be quite long. Maybe just this
          long.
        </p>
        <p>- first, last</p>
      </div>
    </div>
  </body>
</html>
