<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("header") %>
    <form action="/posts" method="POST" class="card">
      <div>
        <h1>Create a message!</h1>
      </div>
      <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= post ? post.title
        : ""%>" />
      </div>

      <div>
        <label for="message">Message:</label>
        <textarea name="message">
<%= post ? post.message
          : ""%></textarea
        >
      </div>
      <div>
        <input type="submit" />
      </div>
      <% if (errors) { %>
      <ul>
        <% for (const error of errors) { %>
        <li><%= error.msg %></li>
        <% } %>
      </ul>
      <% } %>
    </form>
  </body>
</html>
