* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 20px;
}

button {
  cursor: pointer;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 5px #888;
  flex: 1;
  min-width: min(300px, 30%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.card h1 {
  margin-bottom: 10px;
}

.card p:last-child {
  margin-top: auto;
  align-self: flex-end;
}

a {
  text-decoration: none;
}

form {
  margin: 20px auto;
  max-width: 500px;
}

form div {
  padding: 10px;
}

a:visited {
  color: white;
}

button a:visited {
  color: black;
}
